{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <div id="main" style="padding-top: 45px" align="middle"> 
    <div class="section features">
<!--    <div class="each-feature event-image-4"> -->
        <div class="container">
            <div class="row">
		<br />
		<br />
	    <h2 class="font-alt font-w-700" style="color:#eee">Please contact us with any questions or suggestions you might have.</h2>
	    <h3><a href="https://discord.gg/874MrgA">Discord Server</a></h3>
	    <h3><a href="https://t.me/DroitGroup">Telegram Server</a></h3>
		<h3><a href="mailto:support@mediacoin.stream">Email Us at support@mediacoin.stream</a></h3>
	    </div>
	    </div>
	</div>
<!--    </div> -->
</div>
{% endblock %}

