
{% extends 'base.html' %}

{% block title %}C'est Food{% endblock %}

{% block content %}
  

<div class="outer">
<!-- TOP SECTION "HOME"-->
<section id="home" class="bg-img-cover bg-overlay-black-7 h-100 p-0" style="padding-bottom: -50px; background-image: url('/static/img/headerBackdrop.png'); background-repeat: no-repeat; background-size: 100% 100%; margin-top: 3%;">
	<div class="section section-header">        
        <div class="container h-100 each-feature event-top" >
            <div class="content custom-content">
                <div class="title-area" style="background:rgba(255,255,255,0.75); border-style: solid; border-width: 5px; border-color: #f5f5f5;">
                     <h1 class="title-modern font-w-700 custom-header-title hidden-x" style="color:#000; font-family: 'Pacifico', cursive;">C'est Food!</h1>
                     <h3  style="padding-top: 10px; color: #000; font-style: italic">Keeping clean food out of dirty hands</h3>
					 <br />
					 <p style="color: #000;">Search through Health Inspection report histories to see how your favorite places to eat have kept or improved the integrity of their food service. Each score is based on the quality of health inspection reports.</p>
                </div>
            </div>
        </div>            <!-- //.row -->
	</div>
</section>

 <!--   BUTTON SECTION -->
<section id="buttons" style="padding-top: 10px; padding-bottom: 60px" class="bg-white">
    <div class="each-feature" style="margin-top: 20px; margin-bottom: 20px" >
        <div class="container-fluid">    
            <div class="row">
            </div>
            <div class="row">
        		<div class="col-xs-12 col-md-3 col-md-offset-1">
        			<img class="panelIcon" src="/static/img/icons/delivery.svg" />
					<p class="iconText">Have your choice delivered or reserve your table.</p>
        		</div>
        		<div class="col-xs-12 col-md-3 col-md-offset-1">
        			<a href="/map.html"><img class="panelIcon" src="/static/img/icons/fullMap.svg" /></a>
					<p class="iconText">Oh snap, there’s a map!
					<br />
					Find some food near you.</p>
        		</div>
        		<div class="col-xs-12 col-md-3 col-md-offset-1">
        			<img class="panelIcon" src="/static/img/icons/promo.svg" />
					<p class="iconText">Check out deals at your favorite spot 
					<br />
					(with these promo codes).</p>
        		</div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid-->    
    </div><!-- /.each-feature -->    
</section><!-- /.section -->      
<!-- END OF ABOUT SECTION -->


<!-- Image Space 1-->
<div class="about" id="abt">
    <div class="each-feature event-image-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row clearfix">
				<div class="col-md-12" style="color:#000; background:rgba(255,255,255,0.8);border-style: solid; border-width: 5px; border-color: #f5f5f5; padding-top: 50px; padding-bottom: 100px">

                <h1 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase" style="text-align: center">About Us</h1>
				<br />
                <h3 class="font-alt font-w-700 letter-spacing-2 m-0">There are standards for food establishments to ensure proper storage, preparation and prevention of food borne illnesses. It is vital for us to know if the people we choose to prepare our food are doing so in a responsible way. We will help to share that responsibility and reward integrity.</h3>
				<br />
				<table id="featureTbl">
					<tbody>
					<tr>
					<td>Get proper hygiene, sanitation and food handling reports from your favorite places to eat</td>
					<td>Our customer reviews are verified with proof of purchase</td>
					<td>Because of blockchain technology, trustworthy reports and reviews are unable to be forged or deleted</td>
					</tr>
					<tr>
					<td>Scan our QR codes to quickly access previous and latest government health inspection reports</td>
					<td>Know who's open now, will save you time when it’s getting late and you’re searching for a bite</td>
					<td>Partnering with OpenTable and DoorDash makes planning dinner easy!</td>
					</tr>
					<tr>
					<td>Pay online for your ultimate convenience</td>
					<td>Buisnesses can earn rewards for good ratings based on inspection reports</td>
					<td>Display grades/ratings sticker with QR code to show off an excellent score!</td>
					</tr>
					</tbody>
				</table>
				</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!--end of Image space 1-->

<!-- Services Section -->
<section id="adv">
    <div class="each-feature event-image-3">
        <div class="container">
            <div class="row" style="padding-top: 60px; padding-bottom: 60px">
                <div class="col-md-12" >
                    <h1 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase" style="text-align: center">Advertising</h1>
                    <br />
                    <h3 class="font-alt font-w-700 letter-spacing-2 m-0">Advertise businesses and scores to receive rewards for good ratings and reviews. You can also view popular picks and customer recommendations. Establishments are given a grade or score based on their Health Inspection reports. Proudly display these scores at your storefront!</h3>
					<br />
					<br />
					<br />
					<a href="/advertise.html" class="btn btn-secondary btn-lg" style="border-width: 4px; width: 40%; margin-left: 30%; margin-right: 30%;" role="button" aria-pressed="true">Read More</a>
                    <br />
                </div>
            </div>
        </div>
    </div>      
</section>  

<!-- end of Services -->


<!-- Image Space 2 with text-->
<section id="blockchain">    
    <div class="each-feature event-image-9" style="padding-top: 60px; padding-bottom: 60px">
        <div class="container" style="margin-top: 10px; margin-bottom: 10px">
            <div class="row">
                <div class="col-md-12" style="color:#000; background:rgba(255,255,255,0.8); padding-top: 50px; padding-bottom: 150px; border-style: solid; border-width: 5px; border-color: #f5f5f5">
                    <h2 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase">Blockchain</h2>
                    <h3>We store all of our health inspection reports on blockchain, keeping critical information from being edited or forged. Integrating Blockchain will also make paid reviews a thing of the past with our verifiable customer review feature.</h3>
			</div>
        </div>
    </div>
</section>
</div>

<!--Smooth scrolling for nav links that are on the same page-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>


{% endblock %}
