
{% extends 'base.html' %}

{% block title %}DROIT GROUP{% endblock %}

{% block content %}
  

<div class="outer">
<!-- TOP SECTION "HOME"-->
<section id="home" class="bg-img-cover bg-overlay-black-7 h-100 p-0" style="padding-bottom: -50px; background-image: url('/static/img/headerBackdrop.png'); background-repeat: no-repeat; background-size: 100% 100%; margin-top: 3%;">
	<div class="section section-header">        
        <div class="container h-100 each-feature event-top" >
            <div class="content custom-content">
                <div class="title-area" style="background:rgba(255,255,255,0.75);">
                     <h1 class="title-modern font-w-700 custom-header-title hidden-x text-uppercase" style="color:#000; margin-top: -10%;">CeCi Food</h1>
                     <h3 class="font-alt font-w-700 text-uppercase" style="padding-top: 10px; color: #000;">A search could look good here. This background can be more smooth, too.</h3>
					 <p style="color: #000;">More content will also make it look better</p>
                </div>
            </div>
        </div>            <!-- //.row -->
	</div>
</section>

 <!--   ABOUT SECTION -->
<section id="about" style="padding-top: 10px; padding-bottom: 60px" class="bg-white">
    <div class="each-feature" style="margin-top: 20px; margin-bottom: 20px" >
        <div class="container-fluid">    
            <div class="row">
        		<div class="col-md-12">
        			<h1  style="color:#111; text-align: center;">Check out some stuff that look like they do something but don't do anything</h1>
        		</div>
            </div>
            <div class="row">
        		<div class="col-xs-12 col-md-3 col-md-offset-1">
        			<img class="panelIcon" src="/static/img/icons/delivery.svg" />
					<p class="iconText">Text that mentions delivery or something</p>
        		</div>
        		<div class="col-xs-12 col-md-3 col-md-offset-1">
        			<img class="panelIcon" src="/static/img/icons/fullMap.svg" />
					<p class="iconText">Oh snap, there is a map</p>
        		</div>
        		<div class="col-xs-12 col-md-3 col-md-offset-1">
        			<img class="panelIcon" src="/static/img/icons/promo.svg" />
					<p class="iconText">Promo info can go here. Hover effects are fun</p>
        		</div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid-->    
    </div><!-- /.each-feature -->    
</section><!-- /.section -->      
<!-- END OF ABOUT SECTION -->


<!-- Image Space 1-->
<div class="section features">
    <div class="each-feature event-image-1">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
				<div class="col-md-8" style="color:#000; background:rgba(255,255,255,0.6);">

                <h1 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase">According to all known laws
of aviation,</h1>
                <h3 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase">there is no way a bee should be able to fly. Its wings are too small to get its fat little body off the ground.</h2>
                <h3 class="" >The bee, of course, flies anyway.</h3>
            </div>
            <div class="col-md-4">
                <!-- Display image -->
                <img src="/static/img/background-images/hand-flow-chart.jpg" class="img-responsive">
            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!--end of Image space 1-->

<!-- Services Section -->
<section id="services">
    <div class="each-feature event-image-3">
        <div class="container">
            <div class="row" style="padding-top: 60px; padding-bottom: 60px">
                <div class="col-md-12" >
                    <h1 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase">because bees don't care what humans think is impossible.</h1>
                    <br>
                    <h2 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase">Yellow, black. Yellow, black. Yellow, black. Yellow, black.</h2>
                    <h3 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase">Ooh, black and yellow! Let's shake it up a little.</h3>
                    <h3 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase">Barry! Breakfast is ready! Ooming! Hang on a second. Hello?</h3>
                    <br>
                </div>
            </div>
        </div>
    </div>      
</section>  

<!-- end of Services -->


<!-- Image Space 2 with text-->
<section id="keys">    
    <div class="each-feature event-image-9" style="padding-top: 60px; padding-bottom: 60px">
        <div class="container" style="margin-top: 10px; margin-bottom: 10px">
            <div class="row">
                <div class="col-md-12" style="color:#000; background:rgba(255,255,255,0.6);">
                    <h2 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase">Filler</h2>
                    <h3>More filler</h3>
                    <h3>This can be filled better once I know what text goes on the site</h3>
			</div>
        </div>
    </div>
</section>
</div>


{% endblock %}
